* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body {
    display: flex;
    flex-direction: column;
}


/* Header Styling                           */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#def3f6;
}

.header-logo
.header-links {
    flex: 1;
}

.header-links {
    display: flex;
    gap: 48px;
    padding: 8px 16px;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: black;
    font-size: 16px;
}

/* Hero Styling                          */

.hero {
    display: flex;
    flex-wrap: wrap;
    background: #def3f6; 
    color: black;
}

.hero-left,
.hero-right {
    flex-basis: 50%;
    max-width: 50%;
}

.hero-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: clamp(20px, 5vw, 100px);
}

.herotext1{
    font-size: 32px;
    padding: 8px;
}

.herotext2 {
    font-size: 48px;
    padding: 8px;
}

.herotext3 {
    font-size: 20px;
    padding: 8px;
}

.buttons button {
  font-size: 16px;
  border: none;
  border-radius: 8px;
  background: #064273;
  color: white;
  padding: 5px 50px;
  flex: 1, 1, 0;
}

.buttons {
    display: flex;
    justify-content: flex-start;
    gap: 16px;
    width: 500px;
}

.hero-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.hero-right img {
    width: 100%;
    height: auto;
    object-fit: contain;
    flex: 1;
}

.colorblock {
    width: 100%;
    background: #064273;
    padding: 40px;
    object-fit: contain;
    flex: 1;
}

/* Info Styling                          */

.info {
    background: #064273;
    display: flex;
    flex-direction: column;
}

.info-title{
    display: flex;
    justify-content: center;
    font-size: 28px;
    padding: 36px 0;
    color: white;
}

.info-wrap {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 36px;
}

.info-card {
    width: 325px;
    background-color: white;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    margin: 20px;
}

.info-card img{
    width: 100%;
    height: 260px;
}

.card-content {
    padding: 16px;
}

.card-content h3{
    font-size: 28px;
    margin-bottom: 8px;
}

.card-content p {
    font-size: 16px;
    line-height: 1.3;
}

.card-content .btn {
    display: inline-block;
    padding: 8px 16px;
    background: #064273;
    color: white;
    border-radius: 4px;
    margin-top: 16px;
}

/* Quote Styling                         */

.quote {
    display: flex;
    flex-direction: column;
    background-image: url(pictures/quote.jpg);
    background-position: center center;
    padding: 150px clamp(220px, 10vw, 450px);
}

.quote-block {
    color: white;
    font-size: 28px;
    font-weight: 300;
}

.author {
    display: flex;
    justify-content: flex-end;
}

.author h3 {
    color: white;
    font-size: 32px;
    font-weight: 700;
}

/* Signup Styling                       */

.signup-wrap {
    padding: 50px 200px;
    background: #7fcdff;
    
}

.signup {
    background:#1da2d8 ; 
    color: white;
    border-radius: 10px;
    padding: 20px 100px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.signup-btn {
    font-size: 16px;
    border: 2px solid white;
    border-radius: 8px;
    background: #1da2d8;
    color: white;
    padding: 20px 100px;
}
 
/* Footer Styling                      */

.footer {
    background: #064273;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 20px;
}
