body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.hero,
.info {
    min-height: 575px;
    padding: 0 200px;
}

/* End of Misc */

.header {
    background: #1d0746; 
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 200px;

}


.header-right {
    display: flex;
    gap: 16px;

}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: white;
}

/* End of Header */

.hero {
    display: flex;
    flex: 2;
    background: #1d0746; 
    color: white;
    align-items: center;
    gap: 100px;
}

.hero-left {
    display: flex;
    flex-direction: column;
    padding: 150px;
}

.hero-left,
.hero-right {
    flex: 1;
}


/* End of Hero */

.info {
    display: flex;
    flex-direction: column;
    flex: 2;
}

.info-wrap {
    display: flex;
    flex-direction: row;
}

/* End of Info */

.quote {
    display: flex;
    flex-direction: column;
    color: white;
    background-image: url(quote.jpg);
    background-position: center center;
    flex: 1;
    justify-content: center;
    align-items: center;
    padding: 150px 600px;
    font-size: x-large;
    font-weight: bold;
    flex-shrink: 0;
}

/* End of Quote */

.signup-wrapper {
    flex: 1;
    padding: 50px 200px;
}

.signup {
    background-image:linear-gradient(to bottom left, #5a15db, #1d0746); 
    color: white;
    display: flex;
    padding: 50px;
    border-radius: 10px;
}
 
/* End of Sign up */

.footer {
    background: #1d0746;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 20px;
}
