* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body {
    display: flex;
    flex-direction: column;
}


/* Header Styling                           */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#def3f6;
}

.header-logo
.header-links {
    flex: 1;
}

.header-links {
    display: flex;
    gap: 48px;
    padding: 8px 16px;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: black;
    font-size: 16px;
}

/* Hero Styling                          */

.hero {
    display: flex;
    flex: 2;
    background: #def3f6; 
    color: black;
    justify-content: space-evenly;
}

.hero-left,
.hero-right {
    flex: 1;
}

.hero-left {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 100px 50px;
}

.herotext1{
    font-size: 26px;
}

.herotext2 {
    font-size: 48px;
}

.herotext3 {
    font-size: 16px;
}

.buttons button {
  font-size: 16px;
  flex-shrink: 0;
  border: none;
  border-radius: 8px;
  background: #064273;
  color: white;
  padding: 20px 100px;
}

.buttons {
    display: flex;
    justify-content: flex-start;
    gap: 16px;
    width: 500px;
}

.hero-right {
    display: flex;
    flex-direction: column;
}

.hero-right img{
    flex: 6;
    width: 100%;
    height: auto;
    object-fit: cover;
}

.colorblock {
    flex:1;
    width: 100%;
    height: auto;
    background: #064273;
    padding: 40px;
}


/* Info Styling                          */

.info {
    background: #064273;
    display: flex;
    flex-direction: column;
}

.info-title{
    display: flex;
    justify-content: center;
    font-size: 28px;
    padding: 36px 0;
    color: white;
}

.info-wrap {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.info-card {
    width: 325px;
    background-color: white;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    margin: 20px;
}

.info-card img{
    width: 100%;
    height: auto;
}

.card-content {
    padding: 16px;
}

.card-content h3{
    font-size: 28px;
    margin-bottom: 8px;
}

.card-content p {
    font-size: 16px;
    line-height: 1.3;
}

.card-content .btn {
    display: inline-block;
    padding: 8px 16px;
    background: #064273;
    color: white;
    border-radius: 4px;
    margin-top: 16px;
}

/* Quote Styling                         */

.quote {
    display: flex;
    flex-direction: column;
    color: white;
    background-image: url(pictures/quote.jpg);
    background-position: center center;
    align-items: center;
    padding: 150px 300px;
    font-size: 48px;
    font-weight: 700;
    flex-shrink: 0;
}

/* Signup Styling                       */

.signup-wrap {
    flex: 1;
    padding: 50px 200px;
    background: #7fcdff;
}

.signup {
    background:#1da2d8 ; 
    color: white;
    display: flex;
    justify-content: center;
    padding: 50px;
    border-radius: 10px;
}

.signup-left,
.signup-right {
    flex: 1;
}

.signup-btn {
    font-size: 16px;
    flex-shrink: 0;
    border: none;
    border-radius: 8px;
    background: #064273;
    color: white;
    padding: 20px 100px;
}
 
/* Footer Styling                      */

.footer {
    background: #064273;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 20px;
}
