body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}


/* Header Styling*/

.header {
    background: #def3f6; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 8px;
}

.header-left {
    background-color:#1da2d8;
    color: white;
    padding: 16px 92px;
}

.header-right a {
    color: black;
    font-size: 24px;
    font-weight: 900;
}

.title {
    font-size: 25px;
    font-weight: bold;
}

.header-right {
    display: flex;
    justify-content: flex-end;
    gap: 16px;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: white;
}

/* Hero Styling*/

.hero {
    display: flex;
    flex: 2;
    background: #def3f6; 
    color: black;
    justify-content: space-evenly;
}

.hero-left,
.hero-right {
    flex: 1;
}

.hero-left {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 100px 200px;
}

.herotext1{
    font-size: 40px;
}

.herotext2 {
    font-size: 100px;
}

.herotext3 {
    font-size: 24px;
}

button {
  font-family: Roboto, sans-serif;
  font-size: 24px;
  border: none;
  border-radius: 8px;
  background: #1da2d8;
  padding: 20px 100px;
}

.buttons {
    display: flex;
    justify-content: flex-start;
    gap: 16px;
}

.hero-right img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* Info Styling */

.info {
    display: flex;
    flex-direction: column;
    flex: 2;
    background-image: url(pictures/info.jpg);
    color: white;
    min-height: 575px;
    justify-content: space-between ;
}

.info-title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 85px;
    padding: 24px 400px;
    margin: 0;
    flex: 1;
}

.info-wrap {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    flex: 2;
    padding: 200px 100px;
}

.info-container{
    margin: 25px;
    color: aliceblue;
}

.info-container img {
    height: 250px;
    width: 400px;
}


/* Quote Styling */

.quote {
    display: flex;
    flex-direction: column;
    color: white;
    background-image: url(pictures/quote.jpg);
    background-position: center center;
    align-items: center;
    padding: 150px 600px;
    font-size: 50px;
    font-weight: 900;
    flex-shrink: 0;
}

/* Signup Styling */

.signup-wrap {
    flex: 1;
    padding: 50px 200px;
    background: #7fcdff;
}

.signup {
    background:#1da2d8 ; 
    color: white;
    display: flex;
    padding: 50px;
    border-radius: 10px;
}
 
/* Footer Styling */

.footer {
    background: #064273;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 20px;
}
