body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.hero,
.info,
.quote {
    min-height: 400px;
}

/* End of Misc */

.header {
    background: gray;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-left {
    
}

.header-right {
    display: flex;
    gap: 16px;

}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

/* End of Header */

.hero {
    display: flex;
    background: gray;
    flex: 2;
}

.hero-left,
.hero-right {
    flex: 1;
}

.hero-right {
    width: 100px;
    height: 100px;
}

/* End of Hero */

.info {
    display: flex;
    flex-direction: column;
    flex: 2;
}

.info-container {
    display: flex;
}

/* End of Info */

.quote {
    display: flex;
    flex-direction: column;
    background: lightgray;
    flex: 1;
}

/* End of Quote */

.signup-wrapper {
    
    flex: 1;
    padding: 50px;
}

.signup {
    background: lightblue;
    display: flex;
    padding: 50px;
}

/* End of Sign up */

.footer {
    background: gray;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}
