body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}


/* Header Styling*/

.header {
    background: #def3f6; 
    padding: 0 200px 0 0 ;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-left {
    background-color: #1da2d8;
    color: white;
}

.header-right a {
    color: black;
}

.title {
    font-size: 25px;
    font-weight: bold;
}

.header-right {
    display: flex;
    gap: 16px;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: white;
}

/* Hero Styling*/

.hero {
    display: flex;
    flex: 2;
    background: #064273; 
    color: white;
    justify-content: space-evenly;
}

.hero-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 200px;
}

.hero-right {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding: 50px 200px;
}

.hero-left,
.hero-right {
    flex: 1;
}


/* Info Styling */

.info {
    display: flex;
    flex-direction: column;
    flex: 2;
    background: #76b6c4;
    min-height: 575px;
}

.info-wrap {
    display: flex;
    flex-direction: row;
}

.info-container img {
    flex: 1;
    height: 350px;
    width: 350px;
    border-radius: 50%;
}


/* Quote Styling */

.quote {
    display: flex;
    flex-direction: column;
    color: white;
    background-image: url(pictures/quote.jpg);
    background-position: center center;
    flex: 1;
    justify-content: center;
    align-items: center;
    padding: 150px 600px;
    font-size: x-large;
    font-weight: bold;
    flex-shrink: 0;
}

/* Signup Styling */

.signup-wrap {
    flex: 1;
    padding: 50px 200px;
    background: #7fcdff;
}

.signup {
    background:#1da2d8 ; 
    color: white;
    display: flex;
    padding: 50px;
    border-radius: 10px;
}
 
/* Footer Styling */

.footer {
    background: #064273;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 20px;
}
